<section>
  <app-farm-form
    (onCreateFarm)="onCreateFarm($event)"
  ></app-farm-form>
  <app-farm-list
    [farms]="farms$ | async"
    [selectedFarm]="selectedFarm"
    (onRemoveFarm)="onRemoveFarm($event)"
    (onEditFarm)="onEditFarm($event)"
  ></app-farm-list>
</section>
<section *ngIf="selectedFarm">
  <app-farm-ground-form
    (onCreateGround)="onCreateGround($event)"
  ></app-farm-ground-form>
  <app-farm-ground-list
    [selectedGround]="selectedGround"
    [grounds]="grounds$ | async"
    (onRemoveGround)="onRemoveGround($event)"
    (onEditGround)="onEditGround($event)"
  ></app-farm-ground-list>  
</section>
<section *ngIf="selectedGround">
  <app-farm-harvest-form
    (onCreateHarvest)="onCreateHarvest($event)"
  ></app-farm-harvest-form>
  <app-farm-harvest-list
    [harvests]="harvests$ | async"
    (onRemoveHarvest)="onRemoveHarvest($event)"
  ></app-farm-harvest-list>      
</section> 