<mat-card>
  <mat-card-content>
    <h3>Talhão - Lista</h3>
    <mat-list *ngIf="grounds && grounds.length; else groundsIsEmpty">
      <mat-list-item
        *ngFor="let ground of grounds; last as last"
        [ngClass]="{'selected-item': selectedGround && selectedGround.id === ground.id}"
      >
        <mat-icon mat-list-icon>terrain</mat-icon>
        <h4 mat-line>Comprimento: {{ground.length}} | Largura: {{ground.width}}</h4>
        <h4 mat-line>Expectativa de Faturamento: {{ground.totalAmount}} mil</h4>
        <mat-divider
          [inset]="true"
          *ngIf="!last"
        ></mat-divider>
        <mat-action-list>
          <button
            mat-button
            [disabled]="selectedGround && selectedGround.id === ground.id"
            color="primary"
            (click)="editGround(ground)"
          >
            Visualizar Lavouras
          </button>
          <button
            mat-button
            color="warn"
            (click)="removeGround(ground)"
          >
            Remover Talhão
          </button>
        </mat-action-list>    
      </mat-list-item>
    </mat-list>  
    <ng-template #groundsIsEmpty>
      Não existem talhões cadastrados
    </ng-template>
  </mat-card-content>
</mat-card>