<mat-card>
  <form #form="ngForm">
    <mat-card-content>
      <section class="full-width">
      <h3>Adicionar Talhão</h3>
        <mat-label>Comprimento</mat-label>
        <mat-slider
          class="full-width"
          min="0"
          max="100"
          thumbLabel
          [displayWith]="formatLabelSlider"
          name="groundLength"
          [(ngModel)]="ground.length"
          required                      
        ></mat-slider>
        <mat-label>Largura</mat-label>
        <mat-slider
          matInput
          class="full-width"
          min="0"
          max="100"
          thumbLabel
          [displayWith]="formatLabelSlider"
          name="groundWidth"
          [(ngModel)]="ground.width"
          required                      
        ></mat-slider>
      </section>
    </mat-card-content>
    <button
      type="submit"
      mat-button
      mat-raised-button
      color="primary"
      [disabled]="form.invalid"
      (click)="submitForm(ground)"
    >
      Adicionar
    </button>
  </form>
</mat-card>
