<mat-card>
  <form #form="ngForm">
    <mat-card-content>
      <section class="full-width">
        <h3>Adicionar Lavoura</h3>
        <mat-form-field class="full-width">
          <mat-label>Nome</mat-label>
          <input
            matInput
            placeholder="Nome da Lavoura"
            type="text"
            name="farmHarvest"
            [(ngModel)]="harvest.name"
            required          
          >
        </mat-form-field>
        <mat-label>Expectativa de Faturamento</mat-label>
        <mat-slider
          matInput
          class="full-width"
          placeholder="Expectativa de Faturamento"
          min="0"
          max="100"            
          thumbLabel
          name="farmAmount"
          [displayWith]="formatLabelSlider"
          [(ngModel)]="harvest.amount"
          required          
        ></mat-slider>        
      </section>
    </mat-card-content>
    <button
      type="submit"
      mat-button
      mat-raised-button
      color="primary"
      [disabled]="form.invalid"
      (click)="submitForm(harvest)"
    >
      Adicionar
    </button>
  </form>
</mat-card>
