<mat-card>
  <mat-card-content>
    <h3>Fazenda - Lista</h3>
    <mat-list *ngIf="farms && farms.length; else farmsIsEmpty">
      <mat-list-item
        *ngFor="let farm of farms; last as last"
        [ngClass]="{'selected-item': selectedFarm && selectedFarm.id === farm.id}"
      >
        <mat-icon mat-list-icon>store</mat-icon>
        <h4 mat-line>{{farm.name}}</h4>
        <h4 mat-line>Expecativa de Faturamento: {{farm.totalAmount}} mil</h4>
        <mat-divider
          [inset]="true"
          *ngIf="!last"
        ></mat-divider>
        <mat-action-list>
          <button
            [disabled]="selectedFarm && selectedFarm.id === farm.id"
            mat-button
            color="primary"
            (click)="editFarm(farm)"
          >
            Visualizar Talhões
          </button>
          <button
            mat-button
            color="warn"
            (click)="removeFarm(farm)"
          >
            Remover Fazenda
          </button>
        </mat-action-list>    
      </mat-list-item>
    </mat-list>  
    <ng-template #farmsIsEmpty>
      Não existem fazendas cadastradas
    </ng-template>
  </mat-card-content>
</mat-card>