<mat-card>
  <mat-card-content>
    <h3>Lavoura - Lista</h3>
    <mat-list *ngIf="harvests && harvests.length; else harvestsIsEmpty">
      <mat-list-item
        *ngFor="let harvest of harvests; last as last"
      >
        <mat-icon mat-list-icon>local_florist</mat-icon>
        <h4 mat-line>{{harvest.name}}</h4>
        <h4 mat-line>Expectativa de Faturamento: {{harvest.amount}} mil</h4>
        <mat-divider
          [inset]="true"
          *ngIf="!last"
        ></mat-divider>
        <mat-action-list>
          <button
            mat-button
            color="warn"
            (click)="removeHarvest(harvest)"
            >
              Remover Lavoura
          </button>
        </mat-action-list>    
      </mat-list-item>
    </mat-list>  
    <ng-template #harvestsIsEmpty>
      Não existem lavouras cadastradas
    </ng-template>
  </mat-card-content>
</mat-card>