<mat-card>
  <form #form="ngForm">
    <mat-card-content>
      <section class="full-width">
        <h3>Adicionar Fazenda</h3>
        <mat-form-field class="full-width">
          <mat-label>Nome</mat-label>
          <input
            matInput
            placeholder="Nome da Fazenda"
            type="text"
            name="farmName"
            [(ngModel)]="farm.name"
            required          
          >
        </mat-form-field>
      </section>
    </mat-card-content>
    <button
      type="submit"
      mat-button
      mat-raised-button
      color="primary"
      [disabled]="form.invalid"
      (click)="submitForm(farm)"
    >
      Adicionar
    </button>
  </form>
</mat-card>
